#workContainer {
    height: fit-content;
    width: fit-content;
}

.page {
    overflow: scroll;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.image {
    width: 100%;
    position: relative;
}

.titleContainer {
    overflow: visible;
    overflow-y: hidden;
    margin-right: 2rem;
}

.link {
    width: 60%;
    height: fit-content;
    overflow: visible;
}

.title {
    font-family: "Bebas Neue";
    font-size: 9vw;
    color: rgb(255, 255, 255);
    background-color: inherit;
    display: inline-block;
    overflow: visible;
    transform: translateY(250px);
}

@media screen and (orientation: portrait) {
    .section {
        flex-direction: column;
        gap: 2rem;
    }        
    .image {
        width: 90%;
    }
.link {
margin: 0 auto;
width: 100%;
}
.titleContainer {
    margin-right: 0;
}
    .title {
        font-size: 20vw;
    }
}