#background {
    position: fixed;
    z-index: 2;
}

#loading {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 3;
    transform: translateY(100dvh);
}

.letter {
    display: inline-block;
    font-size: 45vw;
    height: 44vw;
    font-family: "Bebas Neue";
    cursor: pointer;
    overflow-y: hidden;
    transform: translateY(700px);
}