#loading {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#main {
    position: fixed;
}

#messageContainer {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
    height: fit-content;
}

#main_message {
    font-family: "Bebas Neue";
    font-size: 10vw;
    height: 20%;
    display: inline-block;
    cursor: pointer;
    overflow-y: hidden;
    transform: translateY(200px);
}

#surname {
    overflow-y: hidden;
}

.letter {
    display: inline-block;
    font-size: 35vw;
    height: 34vw;
    font-family: "Bebas Neue";
    cursor: pointer;
    overflow-y: hidden;
    transform: translateY(500px);
}

@media screen and (orientation: portrait) {
    
}