#main {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#about_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.about_item {
    width: 25%;
    font-family: "Poppins";
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    transition: 500ms ease;
    text-underline-position: under;
    overflow: visible;
    cursor: default;
}

.about_item:hover {
    text-decoration: underline;
}


#firstNameContainer {
    display: none;
}

.nameCharacter {
    font-family: "Bebas Neue";
    font-size: 40vw;
    line-height: 38vw;
    display: inline-block;
    cursor: pointer;
    overflow-y: hidden;
    transform: translateY(1000px);
}

@media screen and (orientation: portrait) {
    #main {
        grid-template-rows: 1.5fr 1fr;
    } 
    #about_container {
        flex-direction: column;
        height: 100%;
    }
    .about_item {
        width: 90%;
        text-decoration: underline;
        font-size: 1rem;
    }
    #nameContainer {
        width: 95%;
        margin: 0 auto;
    }

    #firstNameContainer {
        display: flex;
    }

}
