#gallery {
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    height: 300dvh;
    gap: 1rem;
}

.image {
    height: 100%;
    position: relative;
    background-size: cover;
    z-index: -1;
    transition: 500ms ease;
}

.image:nth-of-type(1) {
    background-image: url("../../../public/selected_works/fitpulse.png");
}

.image:nth-of-type(2) {
    background-image: url("../../../public/selected_works/fitpulse2.png");
}

.image:nth-of-type(3) {
    background-image: url("../../../public/selected_works/puzzle.png");
}

.image:nth-of-type(4) {
    background-image: url("../../../public/selected_works/quiz.png");
}

.image:nth-of-type(5) {
    background-image: url("../../../public/selected_works/shape.png");
}

.image:nth-of-type(6) {
    background-image: url("../../../public/selected_works/fitpulse.png");
}

.image:nth-of-type(7) {
    background-image: url("../../../public/selected_works/fitpulse2.png");
}

.image:nth-of-type(8) {
    background-image: url("../../../public/selected_works/puzzle.png");
}

.image:nth-of-type(9) {
    background-image: url("../../../public/selected_works/quiz.png");
}

.image:nth-of-type(10) {
    background-image: url("../../../public/selected_works/shape.png");
}